In [13]:
from sqlalchemy import create_engine

server = 'fs.rice.edu'
database = 'stocks'
username = 'stocks'
password = '6LAZH1'
driver = 'SQL+Server'
string = f"mssql+pyodbc://{username}:{password}@{server}/{database}" 
try: 
    conn = create_engine(string + "?driver='SQL+Server'").connect()
except:
    try:
        conn = create_engine(string + "?driver='ODBC+Driver+18+for+SQL+Server'").connect()
    except:
        import pymssql
        string = f"mssql+pymssql://{username}:{password}@{server}/{database}"   
        conn = create_engine(string).connect()

In [14]:
import pandas as pd 
metrics = pd.read_sql(
    """ 
    select * from weekly where date>='2024-01-01' 
    """,
    conn
)

In [6]:
tickers = pd.read_sql("select * from tickers", conn)

In [7]:
metrics.shape

(46096, 10)

In [10]:
sf1 = pd.read_sql("select * from sf1 where datekey>='2024-03-01'", conn)

In [11]:
sf1.datekey.max()

datetime.date(2024, 3, 12)

In [15]:
metrics.to_excel("metrics.xlsx")

In [19]:
for col in tickers.columns: print(col)

permaticker
siccode
lastupdated
firstadded
firstpricedate
lastpricedate
firstquarter
lastquarter
isdelisted
ticker
name
exchange
cusips
sicsector
sicindustry
famasector
famaindustry
sector
industry
scalemarketcap
scalerevenue
relatedtickers
currency
location
secfilings
companysite

In [22]:
df = tickers.merge(metrics, on="ticker", how="inner")

In [21]:
metrics.date = metrics.date.astype(str)
metrics.to_excel("metrics.xlsx")

In [24]:
df.shape

(46054, 35)

In [23]:
df.groupby("date").marketcap.sum()

date
2024-01-05    50548923.8
2024-01-12    51371015.7
2024-01-19    51846582.8
2024-01-26    52423801.2
2024-02-02    52924028.7
2024-02-09    53771546.0
2024-02-16    53645534.8
2024-02-23    54384676.6
2024-03-01    55032273.2
2024-03-08    54902707.2
Name: marketcap, dtype: float64

In [25]:
tickers = pd.read_excel("https://www.dropbox.com/scl/fi/d8jfx5zml22p6wd6zsghk/tickers.xlsx?rlkey=k5t0xwmp087wq7rcrcsybx88x&dl=1")

In [26]:
metrics = pd.read_excel("https://www.dropbox.com/scl/fi/2x48zp2xxqt3nznt1yr3s/metrics.xlsx?rlkey=o1fyg9h7n4wh628age7fwqjga&dl=1")

In [27]:
print(tickers.shape[0])
print(metrics.shape[0])

28031
46091

In [28]:
df = tickers.merge(metrics, on="ticker", how="inner")
df.shape

(45959, 28)